# Node
node_modules/
dist/
.env

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
coverage/

# SQLite
*.db
*.sqlite
*.sqlite3